#light_dark:hover{
  background-color: #2228317b;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-container:hover {
  animation-play-state: paused;
}
